main {
  width: 960px;
}
ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}
li a {
  display: block;
  padding: 0.75rem 1rem;

  /*border-radius: 8px;*/
  text-decoration: none;
  color: var(--color-gray-400);
  transition: color 0.2s;
}
li a:hover {
  color: var(--color-gray-800);
}
h1 {
  font-family: "Playfair Display", serif;
  color: var(--accent);
  font-style: italic;
}
