---
import { getCollection } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import '@styles/tags.css';
import BaseLayout from "../../layouts/BaseLayout.astro";

const all = await getCollection('blog');

const tags = Array.from(
  new Set(
	  all
      .flatMap((p) => p.data.tags)
  )
).sort();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
			<section class="areas">
				{tags.map((a) => (
					<a href={`/tags/${encodeURIComponent(a)}/`}>{a}</a>
				))}
			</section>

</BaseLayout>
