---
import { getCollection } from 'astro:content';
import BaseHead from '../../../components/BaseHead.astro';
import Footer from '../../../components/Footer.astro';
import Header from '../../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';

import '../../../styles/areas.css'

const posts = await getCollection('blog');
const areas = Array.from(
  new Set(
    posts
      .map((p) => p.id.split('/')[0])
  )).sort()

console.log(areas)

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} — Areas`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Browse by Category</h1>
      <ul>
        {areas.map((area) => (
          <li><a href={`/blog/${area}/`}>{area?.toUpperCase()}</a></li>
        ))}
      </ul>
    </main>
    <Footer />
  </body>
  </html>

